<!--Sign up page for participants-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>edit profile</title>
    <link rel="stylesheet" href="/css/signUp.css">
    <script type="text/javascript" src="/js/signUp.js"></script>
    <style>
        #container{
            background: url('http://thecodeplayer.com/uploads/media/geometry.png');
        }
        .container{
            float: left;
        }
    </style>
</head>

<body id="container">
<%- include("./participantHomeTopbar.ejs") %>
<div class="container">
    <div class="form-style-5">
        <form method="POST" action="/users/participant_edit">
            <fieldset>
                <legend><span class="number"> </span> participant profile</legend>
                Email:<input type="email" id="email" name="email" placeholder="<%= participant.email %>" required>
                User name:<input type="text" id="username" name="username" readonly="readonly" placeholder="<%= participant.username %>" required>
                School:<input type="text" id="school" name="school" placeholder="<%= participant.school%>" required>
                Major:<input type="text" id="major" name="major" placeholder="<%= participant.major%>" required>
                Grade:<input type="text" id="grade" name="grade" placeholder="<%= participant.grade%>" required>

                <label for="job">Interests:</label>
                <select id="job" name="interest" value=<%= participant.interest%>>
                    <!--<optgroup label="Indoors">-->
                    <option value="Architecture">Architecture</option>
                    <option value="Arts">Arts</option>
                    <option value="Biomedicine">Biomedicine</option>
                    <option value="Commerce">Commerce</option>
                    <option value="Design">Design</option>
                    <option value="Music">Music</option>
                    <option value="Science">Science</option>
                    <option value="etc">...</option>
                    <!--</optgroup>-->
                </select>
            </fieldset>
            <!-- <input type="submit" value="Register and Login" onclick="participantSignup()"/> -->
            <input type="submit" value="edit now"/>
        </form>
    </div>
</div>

</body>
</html>