<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Provider-PROFILE</title>
    <!--cascade layout-->
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
    <script src="/js/masonry.pkgd.min.js"></script>
    <link rel="stylesheet" href="/css/eos_provider_profile.css">

    <script src="/path/to/packery.pkgd.min.js"></script>
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>
<%- include("./providerHomeTopbar.ejs") %>
<div class="container">
    <!--logo-->
    <div class="image">
        <img  src="/image/google.png" class="picture" height="500" width="500">
        <div class="username">
            <h1><%= cname %></h1>
        </div>
    </div>
    <!--profile-->
    <div class="p1">
        <a href="/edit2" class="button ali" id="p1">
            <div class="editbox" contenteditable="true">
                Editable profile!<br>
                Click and Go!
            </div>
        </a>
    </div>
    <!--add a post & posts-->
    <!--add a post-->
    <!--<div class="grid-item">-->
        <div class="postAdd">
            <a href="/postAdd" class="button ali" id="p2"><p>Add a Post</p>
                <img src="/image/plus.png" alt="plus logo" class="plus">
            </a>
        </div>
    <!--</div>-->
    <div class="p3">
        <div class="grid" data-masonry='{ "itemSelector": ".grid-item", "columnWidth": 100 }'>
            <!--posted posts-->
            <% for(let i = 0; i < posts.length; i++) { %>
            <% if(posts[i].cname == cname){
             // const title = posts[i].title;
            %>
            <div class="grid-item">
                <a href="/post2/<%= cname%>/<%= posts[i]._id %>" class="button ali" id="p3">
                    <h1><%= posts[i].title %></h1>
                    <%= posts[i].brief %>
                </a>
            </div>
            <% }} %>
        </div>

    </div>
</div>

</body>
</html>
