<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <%- include("./participantHomeTopbar.ejs") %>
    <link rel="stylesheet" href="/css/post_liked.css">
    <link rel="stylesheet" href="src/boardz.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/wingcss/0.1.8/wing.min.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

    <!--Cascading grid layout library-->
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
    <scirpt type="text/javascript" src="/js/masonry.pkgd.min.js"></scirpt>
</head>
<body>
<div class="postContainer">
    <!--username and title-->
    <div class="pimage">
        <img  src="http://img2.touxiang.cn/file/20170630/56f72c829d88f88f042a3ab9a56228b6.jpg" class="picture" height="500" width="500">
    </div>
    <div class="ptitle">
        <h1>
            - Posts <%= username %> Liked -
        </h1>
    </div>

    <!--liked posts-->
    <div class="postsLiked">
        <div class="grid" data-masonry='{ "itemSelector": ".grid-item", "columnWidth": 73 }'>
            <div class="center">
            <%for(let i=0; i< posts.length; i++){ %>
            <div class="grid-item">
                <a href="/post/<%= posts[i]._id %>" class="button ali">
                    <h2><%= posts[i].title %></h2><br>
                    <p><%=  posts[i].brief %></p>
                </a>
            </div>
            <%}%>
            </div>
        </div>
    </div>
</div>
</body>
</html>